.tutorials {
    background-image: url("live.gif");
    background-repeat: repeat;
    padding: 5px;
}

.frontend-title {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}



