.f {
    background-image: url("live.gif");
    background-repeat: repeat;
    padding: 5px;
}

.f-title {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 25px;
}

