.tutorials {
    background-image: url("black-background.gif");
    padding: 50px;
}

.tutorials-title {
    color: white;
    text-align: center;
}


.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.video-grid video {
    width: 100%;
    height: auto;
}

h1{
    text-align: center;
}

.video-grid iframe {
    width: 100%;
    height: 200px;
}

.highlight-title {
    color: #04AA6D; /* Change this to the desired color */
    }
