.Backend {
    background-image: url("white.gif");
    background-repeat: repeat;
    padding: 5px;
}

.backend-title {
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
}